
body{
    font-family: Verdana, sans-serif;
    background-color: bisque;
}

h1{
    text-align: center;
    font-size: 50px;
}

ul{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin:30px;
    text-align: center;
    padding: 22px;
}
li{
    display: block;
    font-size: 40px;
}