
body{
    font-family: Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
    justify-content: center;

h1{
    text-align: center;
    font-size: 60px;
}

#recipe-list{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin:30px;
    text-align: center;
    padding: 22px;
    background:rgb(202, 195, 195);
    
    
}

li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color:black;
    font-size: 34px;
    display:block;
    font-weight:600;
}
li a:hover{
    background-color:rgb(160, 154, 154);
}